{% extends 'base.html.twig' %}

{% block title %}ToDo & Co - Create task{% endblock %}

{% block body %}

<div class="d-flex justify-content-center">
  <img src="{{ asset('images/banner.png') }}" width="500" height="400" class="" alt="">
</div>

<div class="mt-4">
  {{ form_start(createTaskForm) }}
  <h1 class="bold-txt-med">Créer une tâche</h1>
  <div class="d-flex flex-column justify-content-center">
    <div class="mt-4 bold-txt-med">
      {{ form_label(createTaskForm.title, 'Titre') }}
      {{ form_row(createTaskForm.title, {'attr': {'class': 'task_input'}}) }}
    </div>
    <div class="mt-4 bold-txt-med">
      {{ form_label(createTaskForm.content, 'Détail') }}
      {{ form_row(createTaskForm.content, {'attr': {'class': 'task_input'}}) }}
    </div>
    <div class="mt-4 d-flex" id="register_submit_div">
      <button type="submit" class="btn btn-success">Ajouter</button>
    </div>
  </div>
  {{ form_end(createTaskForm) }}

</div>

{% endblock %}
