{% extends 'base.html.twig' %}

{% block title %}Update user{% endblock %}

{% block body %}

<div class="mt-4">
    {{ form_start(updateUserForm) }}
    <div class="mb-4">
        <button type="submit" class="btn btn-primary">Créer un utilisateur</button>
        <a class="btn btn-success" href="{{ path('app_login') }}" role="button">Se connecter</a>
    </div>
    <h1 class="bold-txt-med">Modifier {{ app.user.username }}</h1>
    <div class="d-flex flex-column justify-content-center">
        <div class="mt-4 bold-txt-med">
            {{ form_label(updateUserForm.username, 'Nom d\'utilisateur') }}
            {{ form_row(updateUserForm.username, {'attr': {'class': 'register_input'}}) }}
        </div>
        <div class="mt-4 bold-txt-med">
            {{ form_label(updateUserForm.email, 'Adresse email') }}
            {{ form_row(updateUserForm.email, {'attr': {'class': 'register_input'}}) }}
        </div>
        <div class="mt-4 bold-txt-med">
            {{ form_label(updateUserForm.plainPassword, 'Tapez le mot de passe') }}
            {{ form_row(updateUserForm.plainPassword.first, {'attr': {'class': 'register_input'}}) }}
        </div>
        <div class="mt-4 bold-txt-med">
            {{ form_label(updateUserForm.plainPassword, 'Tapez le mot de passe à nouveau') }}
            {{ form_row(updateUserForm.plainPassword.second, {'attr': {'class': 'register_input'}}) }}
        </div>
        <div class="mt-4 d-flex" id="register_submit_div">
            <button type="submit" class="btn btn-success">Modifier</button>
        </div>
    </div>
    {{ form_end(updateUserForm) }}

    <div id="delete_user_div">
        <a class="btn btn-outline-danger" href="{{ path('delete_user') }}" role="button">Delete account</a>    
    </div>
    
</div>

{% endblock %}